.footer {
  padding-top: 40px;
  padding-bottom: 10px;
  background: rgb(16, 12, 39);
}

.footer_text {
  line-height: 30px;
  color: rgba(255, 255, 255, 0.735);
}

.footer_quick-links ul,
.footer_contact ul {
  padding-left: 0; /* Remove default left padding */
  margin-bottom: 0; /* Remove default bottom margin */
}

.footer_quick-links ul li,
.footer_contact ul li {
  background: transparent !important;
  margin-bottom: 0; /* Remove margin */
}

.footer_quick-links ul li a,
.footer_contact ul li span,
.footer_contact ul li p {
  color: rgba(255, 255, 255, 0.735);
  text-decoration: none; /* Remove underline */
}

.quick_links-title {
  margin-bottom: 30px;
  color: white;
  font-size: 1.1rem;
}

.footer_contact li span,
.footer_contact li p {
  font-size: 1.2rem;
}

.footer_contact li p {
  font-size: .9rem;
}

.footer_copyright {
  color: rgba(255, 255, 255, 0.735);
  font-size: .9rem;
  margin-top: 50px;
  text-align: center;
}
