.services.section-bg {
  background-color: #f7f7f7;
}


.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  
}

.section-title p {
  font-size: 18px;
  color: #777;
  text-align: center;
}

/* Card styling */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Icon styling */
.icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #007bff; /* Change the color as needed */
}

/* Title styling */
.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Description styling */
.description {
  font-size: 16px;
  color: #666;
}
.service-img {
  width: 100%; /* or specify the width in pixels */
  height: auto; /* to maintain aspect ratio */
}
.custom-title {
  font-family: "YourCustomFont", sans-serif; /* Replace "YourCustomFont" with the name of your custom font */
  /* Add any other custom styles for the title */
}

.custom-content {
  font-family: "YourCustomFont", sans-serif; /* Replace "YourCustomFont" with the name of your custom font */
  /* Add any other custom styles for the content */
}
    